.playing:before {
  content: "";
  display: block;
  width: 25px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-image: url(../../images/arrow_left_m.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 20px;
  outline: 0;
  z-index: 999;
  animation: prev infinite 2s;
}

@keyframes prev {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-300%, 0, 0);
  }
}

.playing:after {
  content: "";
  display: block;
  width: 25px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-image: url(../../images/arrow_right_m.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 20px;
  outline: 0;
  z-index: 999;
  animation: next infinite 2s;
}

@keyframes next {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(300%, 0, 0);
  }
}

.playing-item {
  color: #ffe6a9;
  text-align: center;
}

.playing-item-num {
  width: 40px;
  height: 40px;
  font-size: 24px;
  border: 1px solid #ffe6a9;
  border-radius: 50%;
  padding-top: 5px;
  margin: 15px auto;
}

.playing-item-title {
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
}

.playing-item-img {
  width: 85%;
  display: block;
  margin: 0 auto;
  border: 2px solid #ffe6a9;
  border-radius: 2px;
}

.playing-item-img > img {
  display: block;
  border-radius: 2px;
}

.playing-item-performer {
  font-size: 16px;
  margin-top: 15px;
}

.playing-item-performer .playing-item-performer-logo {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 5px;
}

.playing-btns {
  padding: 0 15px;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 15px;
  user-select: none;
}

.playing-btn {
  display: inline-block;
  vertical-align: middle;
  color: #ffe6a9;
  text-align: center;
  width: 4em;
  text-decoration: none;
  position: relative;
}

.playing-btn + .playing-btn {
  margin-left: 15px;
}

.playing-btn-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ffe6a9;
}

.playing-btn:nth-child(2) .playing-btn-icon {
  width: 50px;
  height: 50px;
}

/*.playing-btn-icon-share {
  animation-name: share-animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

@keyframes p-share-animate {
  from {
    transform: rotateX(0deg);
  }

  30% {
    transform: rotateX(360deg);
  }

  to {
    transform: rotateX(360deg);
  }
}*/

.playing-btn-icon-like {
  animation-name: like-animate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes like-animate {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.2, .2, .2);
  }

  20% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  40% {
    transform: scale3d(.8, .8, .8);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.05, 1.05, 1.05);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

/*.playing-btn-icon-list {
  animation-name: list-animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

@keyframes list-animate {
  from {
    transform: rotateY(0deg);
  }

  30% {
    transform: rotateY(360deg);
  }

  to {
    transform: rotateY(360deg);
  }
}*/

.playing-btn-effect {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: effect 1s;
}

@keyframes effect {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -200%, 0) scale(1.5);
  }
}

.playing-item-played,
.playing-item-playing,
.playing-item-playsoon {
  position: relative;
}

.playing-item-played:before,
.playing-item-playing:before,
.playing-item-playsoon:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 0;
  right: 10px;
}
.playing-item-played:before {
  background-image: url(../../images/icon_ed_m.png);
}
.playing-item-playing:before {
  background-image: url(../../images/icon_ing_m.png);
}
.playing-item-playsoon:before {
  background-image: url(../../images/icon_soon_m.png);
}

.playing-body {
  overflow-x: hidden;
}