* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

#wrap {
	position: relative;
}

#link {
	position: absolute;
	display: block;
	bottom: 10px;
	width: 50%;
	text-align: center;
	background-color: orange;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	margin: auto;
	left: 0;
	right: 0;
	box-shadow: 0 7px 10px -5px rgba(0, 0, 0, 0.5);
	border: 1px solid #d28800;
}