.fireworks {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: opacity 2s linear;
  animation: fw-fade-in 2s linear;
}
.fireworks-bye {
  opacity: 0;
}

@keyframes fw-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}