.home {
  padding: 0;
}

.home-table {
  width: 100%;
  color: #ffe6a9;
}

@media (min-width: 350px) {
  .home-table th:first-child {
    width: 15%;
  }
  .home-table th:nth-child(2) {
    width: 50%;
  }
  .home-table th:last-child {
    width: 35%;
  }
}

.home-table th {
  text-align: left;
}

.home-table td {
  text-align: left;
  padding-top: 2px;
  padding-bottom: 2px;
}

.home-table td:first-child {
  text-align: right;
  padding-right: 10px;
}

.home-btns {
  padding: 0 15px;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 25px;
  user-select: none;
}

.home-btn {
  display: inline-block;
  vertical-align: middle;
  color: #ffe6a9;
  text-align: center;
  width: 4em;
  text-decoration: none;
}

.home-btn + .home-btn {
  margin-left: 15px;
}

.home-btn-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #ffe6a9;
}

.home-btn:nth-child(2) .home-btn-icon {
  width: 50px;
  height: 50px;
}

.home-btn-icon > img {
  width: 100%;
}

/*.home-btn-icon-share {
  animation-name: share-animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes share-animate {
  from {
    transform: rotateX(0deg);
  }

  30% {
    transform: rotateX(360deg);
  }

  to {
    transform: rotateX(360deg);
  }
}*/

.home-btn-icon-playing {
  animation-name: playing-animate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes playing-animate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*.home-btn-icon-rule {
  animation-name: rule-animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

@keyframes rule-animate {
  from {
    transform: rotateY(0deg);
  }

  30% {
    transform: rotateY(360deg);
  }

  to {
    transform: rotateY(360deg);
  }
}*/