.aaa {
  animation-name: aaa;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  background-color: white;
  width: 100px;
  height: 100px;
  display: block;
}

@keyframes aaa {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(100px, 100px);
  }
}