.app-d {
  font-family: 'Microsoft Yahei';
  position: relative;
  height: 100%;
}
.app-d:before {
  content: "";
  width: 111px;
  height: 132px;
  background-image: url(./images/corner_left_d.png);
  position: absolute;
  top: 0;
  left: 0;
}
.app-d:after {
  content: "";
  width: 111px;
  height: 132px;
  background-image: url(./images/corner_right_d.png);
  position: absolute;
  top: 0;
  right: 0;
}

.app-d-platform-bg {
  width: 100%;
  height: 80%;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  background-image: url(./images/platform_bg_d.jpg);
  background-size: 100%;
  background-position: center bottom;
}

.app-d-platform {
  background-image: url(./images/platform_d.jpg);
  background-size: 100%;
  background-position: center top;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
}

.app-d-platform-shadow:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url(./images/shadow.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 400px;
  height: 150px;
}

.app-d-content {
  position: relative;
  z-index: 1;
  padding-top: 15px;
}

.app-d-logo {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.app-d-title {
  text-align: center;
  color: #ffe6a9;
}