.app {
  min-height: 100%;
  position: relative;
  background-image: url(./images/bg.jpg);
  background-size: 100%;
  /*box-shadow: inset 0 0 200px rgba(0,0,0,0.7);
  background-color: #b80808;
  background-image: 
  radial-gradient(circle at 100% 150%, #b80808 24%, #ce1206 25%, #ce1206 28%, #b80808 29%, #b80808 36%, #ce1206 36%, #ce1206 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #b80808 24%, #ce1206 25%, #ce1206 28%, #b80808 29%, #b80808 36%, #ce1206 36%, #ce1206 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, #ce1206 10%, #b80808 11%, #b80808 23%, #ce1206 24%, #ce1206 30%, #b80808 31%, #b80808 43%, #ce1206 44%, #ce1206 50%, #b80808 51%, #b80808 63%, #ce1206 64%, #ce1206 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, #ce1206 5%, #b80808 6%, #b80808 15%, #ce1206 16%, #ce1206 20%, #b80808 21%, #b80808 30%, #ce1206 31%, #ce1206 35%, #b80808 36%, #b80808 45%, #ce1206 46%, #ce1206 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, #ce1206 5%, #b80808 6%, #b80808 15%, #ce1206 16%, #ce1206 20%, #b80808 21%, #b80808 30%, #ce1206 31%, #ce1206 35%, #b80808 36%, #b80808 45%, #ce1206 46%, #ce1206 49%, transparent 50%, transparent);
  background-size: 70px 35px;*/
}

.app-bg {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(./images/bg.jpg);
  background-size: cover;
}

.app-corner-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}

.app-corner-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 0;
}

.app-content {
  position: relative;
  z-index: 1;
}