.rule-content {
  padding: 0 30px;
  color: #ffe6a9;
}

.rule-btns {
  padding: 0 15px;
  text-align: center;
  margin-top: 15px;
  user-select: none;
}

.rule-btn {
  display: inline-block;
  color: #ffe6a9;
  text-align: center;
  width: 4em;
  text-decoration: none;
  padding-bottom: 15px;
}

.rule-btn-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
}

.rule-btn-icon-return {
  background-image: url(../../images/icon_return_m.svg)
}