.chart-time {
  color: #ffe6a9;
  min-height: 1em;
  font-size: 300px;
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
  position: relative;
}

.chart-vote {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.body-in-chart-time {
  overflow: hidden;
}

.chart-time-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}

.chart-time-active {
  visibility: visible;
}

.chart-time-past {
  visibility: visible;
  animation: fuck 1s forwards;
}


@-webkit-keyframes fuck {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(10);
  }
}

.chart-spark {
  position: relative;
  height: 100px;
}

.chart-spark-item {
  display: block;
  position: absolute;
  background-color: #ffe6a9;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 3s ease-out;
}

.chart-spark-item-fade {
  animation-delay: 0.5s;
  animation-name: fading;
  animation-duration: 3.1s;
  animation-fill-mode: forwards;
}

@keyframes fading {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}